# CMake artifacts
CMakeFiles
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Bosen repo
libs/bosen

# Jupyter checkpoints
.ipynb_checkpoints

# Amazon data
*.json.gz

# virtualenv
.python-version

# PNG images
.png

# MatLab data files
.dat

# Build artifacts
mf-als
bias-mf
koren
tf
softmax

# Python artifacts
__pycache__
