# CMake artifacts
CMakeFiles
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Jupyter checkpoints
.ipynb_checkpoints

# Amazon data
*.json.gz

# virtualenv
.python-version

# PNG images
.png

# MatLab data files
.dat

# Build artifacts
libs/bosen

# Python artifacts
__pycache__
